*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black--: #000000;
    ---grey--: #596164;
    ---grey-lit--: #b1b6ba;
    --blue--: #3c4c78;
    ---purple--: #aaacc8;
}
header {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(#3c4c78,#aaacc8,#b1b6ba);
    padding: 40px;
    color: white;
    box-shadow: 0 0 60px #3c4c78;
    border: 5px solid  #000;
  }


  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  nav ul li {
    margin-right: 10px;
  }
  nav ul li a {
    font-size: larger;
    color: #3c4c78;
    text-decoration: none;
    transition: 2s ease;
  }
  nav ul li a:hover {
    background-color: var(#000000);
    text-decoration: underline;
  }

  .scoreboard-container {
    background-color: #f2f2f2;
    padding: 20px;
    display: none;
  }
  
  .scoreboard-list {
    list-style-type: none;
    padding: 0;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px;
    background-image: url('./images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  h1, h2 {
    text-align: center;
  }

  
  /* --Quiz container section ** add colour from swatch and background ** -- */

  #start-container, #quiz-container, #score-container, #name-container, #scoreboard-container {
    display: none;
    margin: 0;
    padding: 50px;
  }
  #start-container {
    text-align: center;
    margin: 0;
    padding: 50px;
  }
  #start-btn {
    background-color: var(--blue--);
    color: white;
    padding: 10px 20px;
    box-shadow: 0 0 30px #3c4c78;
    border: 2px solid  #000;
    transition: 3s ease;
  }
  #start-btn:hover {
    background-color: var(---purple--);
  }
  #quiz-container {
    margin-top: 90px;
    text-align: center;
    background: linear-gradient(#3c4c78,#aaacc8,#b1b6ba);
    margin: 35px;
    padding: 60px;
    box-shadow: 0 0 30px #3c4c78;
    border: 5px solid  #000;
  }
  #choices {
    list-style-type: none;
    padding: 0;
  }
  #choices button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  #submit-btn:hover, #submit-score-btn:hover {
    background-color: var(--blue--);
    color: white;
    padding: 10px 20px;
    box-shadow: 0 0 30px #3c4c78;
    border: 2px solid  #000;
    transition: 2s ease;
  }
  #submit-btn, #submit-score-btn {
    background-color: var(---purple--);
  }
  
/* -- add score board -- */

#score-container {
    text-align: center;
    margin-bottom: 20px;
  }
  #name-container {
    text-align: center;
    margin-bottom: 20px;
  }
  #scoreboard-container {
    text-align: center;
    background: linear-gradient(#3c4c78,#aaacc8,#b1b6ba);
    margin: 35px;
    padding: 60px;
    box-shadow: 0 0 30px #3c4c78;
    border: 5px solid  #000;
  }
  #scoreboard {
    list-style-type: none;
    padding: 0;
  }
  #scoreboard li {
    margin-bottom: 5px;
  }


/* --add timer-- */
 #timer {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }

  /* --add colour options -- */
 .correct {
    background-color: #96f32b;
  }
 .wrong {
    background-color: #f52618;
  }

  /* footer  */
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(#3c4c78,#aaacc8,#b1b6ba);
    box-shadow: 0 0 30px #3c4c78;
    border: 5px solid  #000;
    padding: 15px;
    color: white;
    margin-top: auto;
  }
.footertext p {
    justify-content: center;
    text-align: center;
}
